# PyCharm
# https://intellij-support.jetbrains.com/hc/en-us/articles/206544839-How-to-manage-projects-under-Version-Control-Systems
# https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore
.idea/
/venv/

# Python
__pycache__/

# Slurm
slurm-*.out

# Temporary output files
/out/
